# --- Python ---
__pycache__/
*.pyc
.pytest_cache/

# 1. Virtual Environment (Root-level folders)
Include/
Lib/
scripts/
share/
pyvenv.cfg

#Data
data/

# 2. Virtual Environment (Standard folders just in case)
venv/
.venv/
env/
.env/

# 3. ML Models, Datasets & Artifacts (UPDATED)
models/bert/
artifacts/
frontend/leaks/
*.pt
*.bin
*.safetensors
*.h5
*.onnx
*.msgpack
*.csv

# 4. Custom Project Tooling
.agents/
.codex/

# 6. Jupyter Notebook Checkpoints
.ipynb_checkpoints

# 7. Environment Variables / Secrets
.env
.env.local